# /.phpunit.cache
# /node_modules
# /public/build
# /public/hot
# /public/storage
# /public/files/images/*.*
# /public/files/thumbnails/*.*
# /storage/*.key
# /vendor
# .env
# .package-lock.json
# .env.backup
# .env.production
# .phpunit.result.cache
# Homestead.json
# Homestead.yaml
# auth.json
# composer.phar
# npm-debug.log
# yarn-error.log
# _ide_helper.php
# /_ide_helper.php
# _ide_helper_models.php
# /_ide_helper_models.php
# /.fleet
# /.idea
# /.vscode
# server.php